
@model JobPortalCore.Entity.Models.CandidateRegister

<h2>Login</h2>
<hr />
<form method="post">
    
    <div class="form-group">
        <label for="Firstname">EmailId</label>
        <input required placeholder="EmailId" type="text" class="form-control" asp-for="EmailId">
    </div>
    <div class="form-group">
        <label for="Firstname">Password</label>
        <input type = "password" required placeholder="Password" class="form-control" asp-for="Password">
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="CandidateRegister" asp-action="Register">Register</a>
</form>