

@model JobPortalCore.Entity.Models.CandidateRegister

<form method="post">
    <div class="form-group">
        <label for="Firstname">Firstname</label>
        <input required placeholder="Firstname" type="text" class="form-control" asp-for="Firstname">
    </div>
    <div class="form-group">
        <label for="Firstname">Lastname</label>
        <input required placeholder="Lastname" type="text" class="form-control" asp-for="Lastname">
    </div>
    <div class="form-group">
        <label for="Firstname">Email</label>
        <input required placeholder="EmailId" type="text" class="form-control" asp-for="EmailId">
    </div>
    <div class="form-group">
        <label for="Firstname">MobNumber</label>
        <input required placeholder="MobNumber" type="text" class="form-control" asp-for="MobNumber">
    </div>
    <div class="form-group">
        <label for="Firstname">QualificationDeg</label>
        <input required placeholder="QualificationDeg" type="text" class="form-control" asp-for="QualificationDeg">
    </div>
    <div class="form-group">
        <label for="Firstname">TechnicalSkills</label>
        <input required placeholder="TechnicalSkills" type="text" class="form-control" asp-for="TechnicalSkills">
    </div>
    <div class="form-group">
        <label for="Firstname">Password</label>
        <input type ="password" required placeholder="Password"  class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <label for="Firstname">ConfirmPassword</label>
        <input type ="password" required placeholder="ConfirmPassword" class="form-control" asp-for="ConfirmPassword">
    </div>
    <input type="submit" class="btn btn-primary" value="Register">
    <button type="button" class="btn btn-secondary">Reset</button>
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
    <hr />
    <a asp-controller="CandidateRegister" asp-action="Login">Login</a>
</form>